[MASTER]
init-hook='import sys; sys.path.append("./src"); sys.path.append("./src/assets"); sys.path.append("/src/sam")'
ignored-modules=
    torch,
    torchvision,
disable= 
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring